.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  padding: 30px 5%;
}

.h1 {
  margin-bottom: 10px;
}

.grid {
  background-color: var(--primary-bg);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 30px 0 30px;
  outline: 1px solid blue;
  border-radius: 13px;
  // border-collapse: collapse;
}

.gridHeader, .gridRow {
  display: contents;
}

.gridHeader > div {
  background-color: var(--tertiary-bg);
}

.gridHeader > div, .gridRow > div {
  padding: 10px;
}

.podFullName {
  font-weight: 500;
  margin-right: 10px;
}

.addContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}