.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  padding: 30px 5%;
}

.namespace {
  margin-bottom: 50px;
}
.h1 {
  margin-bottom: 10px;
}
.podCardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  border: 2px dashed var(--card-border);
  border-radius: 13px;
  margin: 10px auto 0;
  padding: 10px;
}
.podCard {
  background-color: var(--primary-bg);
  text-align: start;
  border: 1px solid var(--card-border);
  border-radius: 10px;
  -webkit-box-shadow: var(--card-box-shadow);
  -moz-box-shadow: var(--card-box-shadow);
  box-shadow: var(--card-box-shadow);
  padding: 15px;
  &:hover {
    border-color: var(--primary);
    -webkit-box-shadow: var(--card-hover-box-shadow);
    -moz-box-shadow: var(--card-hover-box-shadow);
    box-shadow: var(--card-hover-box-shadow);
  }
}
.listItem {
  font-weight: 500;
  margin-right: 10px;
}
.addNode{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed var(--card-border);
  border-radius: 13px;
  margin: 10px auto 0;
  padding: 20px;
  width: 100%;
}