.mainSignup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.h2 {
  margin-bottom: 20px;
}
.signupBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--card-border);
  background-color: var(--tertiary-bg);
  box-shadow: var(--card-box-shadow);
  border-radius: 5px;
  min-width: 400px;
  padding: 50px;
}
.prompt {
  font-family: 'Barlow', sans-serif;
  font-weight: 50%;
  margin-bottom: 20px;
}
.pwInput {
  margin-bottom: 20px;
}
