.mainContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--secondary-bg);
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 10px 30px;
}
