.mainLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  margin-bottom: 20px;
}

.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--card-border);
  background-color: var(--tertiary-bg);
  box-shadow: var(--card-box-shadow);
  border-radius: 5px;
  padding: 50px;
}

.prompt {
  font-family: 'Barlow', sans-serif;
  font-weight: 50%;
  margin-bottom: 20px;
}

.pwInput {
  margin-bottom: 20px;
}

.loginBtn {
  margin-bottom: 10px;
}
