.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px 5%;
  border-bottom: 1px solid var(--card-border);
}

.logo {
  width: 150px;
  margin: 10px 0;
}

.navigation ul {
  display: flex;
  align-items: center;
}

.navigation ul li:not(:first-child) {
  margin-left: 15px;
}
