.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px 5%;
}

.logo {
  width: 150px;
}

.navigation ul{
  display: flex;
  align-items: center;
}

.navigation ul li:not(:first-child) {
  margin-left: 15px;
}
