:root {
  --primary: #326ce5;
  --secondary: #3c7dff;
  --black: #030303;
  --gray: #c8d1de;
  --white: #f9f9f9;
  --primary-bg: #f8f8f9;
  --secondary-bg: #f2f4f8;
  --tertiary-bg: #e6ebf2;
  --card-border: rgb(211, 211, 211);
  --card-box-shadow: 0px 3px 20px -20px rgba(0, 0, 0, 0.75);
  --card-hover-box-shadow: 0px 3px 20px -13px rgba(50, 108, 229, 1);
}

/*FONT SIZES*/
.xxs {
  font-size: 12px;
}
.xs {
  font-size: 14px;
}
.sm {
  font-size: 16px;
}
.m {
  font-size: 16px;
}
.ml {
  font-size: 18px;
}
.lg {
  font-size: 22px;
}
.xl {
  font-size: 28px;
}
.xxl {
  font-size: 40px;
}
/*FONT WEIGHTS*/
.thin {
  font-weight: 100;
}
.extra-light {
  font-weight: 200;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.extra-bold {
  font-weight: 800;
}
.black {
  font-weight: 900;
}

/*FONTS*/

.barlow {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
}
.poppins {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

/*HTML ELEMENTS*/

* {
  box-sizing: border-box;
}
body {
  background-color: var(--secondary-bg);
  margin: 0;
}
main {
  max-width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  overflow-wrap: break-word;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 400;
}
p {
  font-size: 16px;
  font-weight: 400;
  margin: -5px 0;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
a {
  color: var(--black);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.btn-1 {
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  color: var(--primary-bg);
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  padding: 4px 20px 7px;
  &:hover {
    background-color: var(--secondary);
    cursor: pointer;
  }
}
.btn-2 {
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 5px;
  color: var(--black);
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  padding: 4px 20px 7px;
  &:hover {
    color: var(--primary-bg);
    background-color: var(--primary);
    cursor: pointer;
  }
}
.input {
  font-family: 'Barlow', sans-serif;
  line-height: 25px;
  margin-bottom: 10px;
}
.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
}
